html,
body {
    margin: 0;
    overflow: hidden;
    height: 100%;
}

/* Scale canvas with resize attribute to full size */
canvas[resize] {
    width: 700px;
    height: 700px;
    border: 1px grey dashed;
}

.navbar {
    margin-bottom: 40px;
}

[name=generated_script]{
    width: 100%;
    height: 100%;
}